@page
@model IndexModel
@{
    ViewData["Title"] = "Database Search";
}

<div class="database-search">
    <div class="copy">
        <div class="page-title">
            <h1>Database Search_</h1>
            <p class="subheading">Search Anyone,Anywhere,Anytime</p>
        </div>
        <div class="search-button">
            <button type="button">Search_</button>
        </div>
    </div>
</div> 